.blog-post
  %h2.blog-post-title
    = link_to blog.title.capitalize, blog_path(blog)
  %p.blog-post-meta
    = metadata(blog)
  - if logged_in? :site_admin
    %p.blog-post-meta
      - if blog.published?
        = link_to 'Unpublish', toggle_status_blog_path(blog), method: :post, data: {confirm: "Are you sure you?"}
      - else
        = link_to 'Publish', toggle_status_blog_path(blog), method: :post, data: {confirm: "Are you sure you?"}
      |
      = link_to 'Edit', edit_blog_path(blog)
      |
      = link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }
  = markdown truncate(blog.body, length: 700, escape: false, omission: '... (continued)')
  = link_to "read full article", blog_path(blog)