= form_with(model: blog, local: true) do |form|
  - if blog.errors.any?
    - blog.errors.full_messages.each do |error|
      = js add_gritter(error , title: 'Error', image: :error, sticky: false)
  .form-group
    = form.label :title
    = form.text_field :title, id: :blog_title, class: 'form-control'
  .form-group
    = form.label :body
    = form.text_area :body, id: :blog_body, class: 'form-control', rows: 15
  .form-group
    = form.submit 'Update', class: 'btn btn-primary'