.col-sm-8.blog-main
  %h2= @blog.title
  %p
    = @blog.topic.title
  = link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)
  %p
    = markdown @blog.body
  = render 'comments/form'
  #comments{ 'data-blog-id': "#{@blog.id}" }
    = render @blog.comments