= form_for(portfolio_item) do |form|
  .field
    = form.label :title
    = form.text_field :title, id: :portfolio_title
  .field
    = form.label :subtitle
    = form.text_field :subtitle, id: :portfolio_subtitle
  .field
    = form.label :body
    = form.text_area :body, id: :portfolio_body
  %ul
    = form.fields_for :technologies do |technology_form|
      %li
        = technology_form.label :name
        = technology_form.text_field :name

  .actions
    = form.submit