= form_for(portfolio_item) do |form|
  - if portfolio_item.errors.any?
    - portfolio_item.errors.full_messages.each do |error|
      = js add_gritter(error, title: 'Error', image: :error, sticky: false)
  .row
    .col-md-6
      .form-group
        = form.label :title
        = form.text_field :title, id: :portfolio_title, class: 'form-control'
      .form-group
        = form.label :subtitle
        = form.text_field :subtitle, id: :portfolio_subtitle, class: 'form-control'
      .form-group
        %label{class: 'btn btn-primary btn-block'}
          Upload main image
          = form.file_field :main_image, id: :portfolio_main_image, accept: 'image/png,image/gif,image/jpeg, image/gif', style: 'display:none;'
      .form-group
        %label{class: 'btn btn-secondary btn-block'}
          Upload thumbnail image
          = form.file_field :thumb_image, id: :portfolio_thumb_image, accept: 'image/png,image/gif,image/jpeg, image/gif', style: 'display:none;'
    .col-md-6
      .form-group
        = form.label :body
        = form.text_area :body, id: :portfolio_body, class: 'form-control', rows: 13

    .col-md-12
      %h2 Technologies used
      .form-group
        = form.fields_for :technologies do |technology_form|
          = render 'technology_fields', f: technology_form
        = link_to_add_association 'Add Technology', form, :technologies
      .form-group
        = form.submit 'Save Portfolio Item', class: 'btn btn-primary btn-block'


