.card{"data-id" => "#{portfolio_item.id}"}
  = link_to portfolio_item.title, portfolio_show_path(portfolio_item)
  = image_tag url_for portfolio_item.thumb_image if portfolio_item.thumb_image.attached?
  %p.card-text
    %span
      = link_to portfolio_item.title, portfolio_show_path(portfolio_item)
    = portfolio_item.subtitle