%h1 create a new portfolio item

= form_for(@portfolio_item) do |form|
  .field
    = form.label :title
    = form.text_field :title, id: :portfolio_title
  .field
    = form.label :subtitle
    = form.text_field :body, id: :portfolio_subtitle
  .field
    = form.label :body
    = form.text_area :body, id: :portfolio_body
  .actions
    = form.submit