.container.portfolio-container
  .row
    .col-md-7{ class: 'portfolio-show' }
      = image_generator image: @portfolio_item.main_image, placeholder: 'main_img_placeholder.jpg'
    .col-md-5
      %h2= @portfolio_item.title

      %p
        = @portfolio_item.subtitle
      %p
        = @portfolio_item.body

      %h2 Technologies Used
      - @portfolio_item.technologies.each do |t|
        %p= t.name

      %p
        = link_to "Edit", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' if logged_in? :site_admin


