= image_tag @portfolio_item.main_image

%h2
  = @portfolio_item.title

%p
  = @portfolio_item.subtitle
%p
  = @portfolio_item.body
%h2 Technologies Used

- @portfolio_item.technologies.each do |t|
  %p= t.name

%p
  = link_to "Edit", edit_portfolio_path(@portfolio_item)