%h2
  = @portfolio_item.title

%p
  = @portfolio_item.subtitle
%p
  = @portfolio_item.body
= image_tag @portfolio_item.main_image if @portfolio_item.main_image.present?
%p
  = link_to "Edit", edit_portfolio_path(@portfolio_item)