!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = @page_title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = login_helper

    = render 'shared/nav', location: 'top'

    %p.notice
      = notice
    %p.alert
      = alert
    = yield

    - if session[:source].present?
      %p
        Thanks for visiting me from
        = session[:source]
