!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title
      = @page_title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          = video_tag 'Spacious.mp4', id: 'background', autoplay: true, muted: true, loop: true, poster: 'home_bg.png'
          = render 'shared/application_nav'
          = yield
          = render 'shared/application_footer'
          = set_alerts
          = source_helper("application")
