!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title
      = @page_title
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Lato|Roboto+Slab&display=swap", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    -# = video_tag 'Spacious.mp4', id: 'background', autoplay: true, muted: true, loop: true
    -# = render 'shared/application_nav'
    -# = yield
    -# = render 'shared/application_footer'
    -# = set_alerts
    -# = source_helper("application")
  %header{class: 'fix'}
    = video_tag 'Spacious.mp4', id: 'background', autoplay: true, muted: true, loop: true, class: 'vid-bg'
    = render 'shared/application_nav'
    = yield
    = render 'shared/application_footer'
    -# = set_alerts
    -# = source_helper("application")