!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = @page_title
    = csrf_meta_tags
    = stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .notice
      = notice
    .alert
      = alert
    - if current_user.is_a?(User)
      = link_to 'Logout', destroy_user_session_path, method: :delete
    - else
      = link_to 'Register', new_user_registration_path
      = link_to 'Login', new_user_session_path
    %p.notice
      = notice
    %p.alert
      = alert
    = yield

    %div
      %div
        = link_to "Home", root_path
        = link_to "About", about_me_path
        = link_to "Contact", contact_path
        = link_to "Blog", blogs_path
        = link_to "Portfolio", portfolios_path

    - if session[:source].present?
      %p
        Thanks for visiting me from
        = session[:source]
