!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = @page_title
    = csrf_meta_tags
    = stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .notice
      = notice
    .alert
      = alert

    = login_helper

    %p.notice
      = notice
    %p.alert
      = alert
    = yield

    =render 'shared/nav', location: 'bottom'

    = source_helper('blog')
