!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title
      = @page_title
    = csrf_meta_tags
    = stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'shared/portfolio_nav'
    = render 'shared/portfolio_masthead'

    = yield

    = render 'shared/portfolio_footer'
    = source_helper('portfolio')