!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    
    %title
      = @page_title
    = csrf_meta_tags
    = stylesheet_link_tag 'tech_blogs', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'shared/tech_blog_nav'
    = render 'shared/tech_blog_masthead'

    .container
      .row
        = yield
        = render 'shared/tech_blog_sidebar'

    = render 'shared/tech_blog_footer'
    = source_helper('blog')

